@font-face
  {
    font-family: 'Poppins'; 
    src: url('font/Poppins-Black.ttf');
  }
@font-face
  {
    font-family: 'Poppins-med'; 
    src: url('font/Poppins-Medium.ttf');
  }


.container {
    padding: 20px;
}

.sikilat {
    color: #FFFFFF;
    margin-left: 15px;
    margin-bottom: 2px;
    font-family: "Poppins", sans-serif;
}

.nav-item {
    margin-right: 5px;
}

.nav-link {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
}

.nav-link:hover {
    background-color: #16213E;
    color: #FFFFFF;
}

.nav-link:visited {
    color: #FFFFFF;
}

.slide {
    width: 110%;
    height: 600px;
}


.img-banner {
    width: 700px;
    height: 500px;
    margin-right: 40px;
}



/* batas */

#click {
    display: none;
}

/* .text-banner {
    width: 40%;
    margin-left: 40px;
    margin-top: 100px;
    font-family: "Poppins-med", sans-serif;
}

.text-banner h1 {
    font-family: "Poppins", sans-serif !important;
} */

.click-me {
    display: block;
    width: 120px;
    height: 40px;
    background-color: #fc5185;
    border: 1px;
    color: white;
    text-align: center;
    font-size: 22px;
    position: absolute;
    border-radius: 10px;
    
}

.table-div{
    display: none;
    background: #fff;
    width: 810px;
    padding: 100px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#click:checked ~ .table-div {
    display: block;
}

.table-div .close-btn{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 18px;
    cursor: pointer;
  }

.table-div .close-btn:hover{
  color: #3498db;
}

.table-div .text{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.tabel {
  height: 45px;
  width: 100%;
  margin: 40px 0;
}

section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364f6b;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

h1 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

.data {
    background-color: #16213E;
    width: 100%;
    box-shadow: inset 3px 3px 4px rgb(255, 255, 255);

}

.col1 h2{
    color: #FFFFFF;
    padding-top: 2% ;
}

.row {
    margin: 10%;
    margin-top: 50px;
}